<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naveen.rtcteamcity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible"></activity>
        <activity
            android:name=".activities.ProjectsHomePage"
            android:label="@string/title_activity_home_page"></activity>
        <activity
            android:name=".activities.BuildTypeActivity"
            android:label="@string/title_activity_project">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ProjectsHomePage" />
        </activity>
        <activity
            android:name=".activities.ServerConfigActivity"
            android:label="@string/title_activity_server_config">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FavoritesActivity" />
        </activity>
        <activity
            android:name=".activities.FavoritesActivity"
            android:label="@string/title_activity_favorites"></activity>

        <service
            android:name=".service.SchedulerService"
            android:label="Teamcity Scheduler Service"></service>

        <receiver android:name=".service.SchedulerBroadCastReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>
</manifest>
